<p>You have successfully created an event.</p>
</br>

<p>
	Creator: <%= @creator_name %>
	<br/>
	Event Name: <%= @event_name %>
	<br/>
	Event Time: <%= @event_time %>
	<br/>
	Deadline: <%= @deadline %>
	<br/>
	Event Location: <%= @event_location %>
	<br/>
	Minimum Attendees: <%= @minimum_attendees %>
	<br/>
	Maximum Attendees: <%= @maximum_attendees %>
	<br/>
	Invitees: <%= @invitees %>
	
</p>

<input type="button" class="button" value="Send Event Details"></input>