<% if @attendees.class == NilClass && @attendees.nil? || @attendees.class == Hash && @attendees.length < @result['maximum'] || @attendees.class == Array && @attendees.count < @result['maximum'] %>

	<div class="row">
		<div class="large-2 columns">
			<form id="im-in-form" action="/im_in" method="post">
				<input type="hidden" name="invitee_email" value="<%= @invitee_email %>" />
				<input type="hidden" name="event_id" value="<%= @event_id %>" />
				<input type="submit" id="submit" class="button" value="I'm in!" data-email="<%= @invitee_email %>" data-event="<%= @event_id %>">
			</form>
		</div>
		<div class="large-10 columns">
			<strong>Event Name:</strong> <%= @result['event_name'] %>
			<h4><%= @invitee_email %> are you in?</h4>
		</div>
	</div>
	
<% else %>

	<div class="row">
		<div class="large-10 columns">
			<h3>Sorry <%= @invitee_email %>, this event is full.</h3>
		</div>
	</div>

<% end %>

<div class="grey-box">
	<strong>Event Name:</strong> <%= @result['event_name'] %>
	<br/>
	<strong>Event Time:</strong> <%= @result['time'] %>	
	<br />
	<strong>Event Location:</strong> <%= @result['location'] %>
	<br />
	<strong>Deadline:</strong> <%= @result['deadline'] %>
	<br />
	<strong>Invitees:</strong> <% @result['attendees'].inspect %>
	<br />
	<strong>Minimum Attendees:</strong> <%= @result['minimum'] %>
	<br />
	<strong>Maximum Attendees:</strong> <%= @result['maximum'] %>
	<br />
	<strong>Creator:</strong> <%= @result['creator']['name'] %>	
</div>

