<div class="row">
	<div class="large-2 columns">
		<form action="/im_in" method="post">
			<input type="hidden" name="invitee_email" value="<%= @invitee_email %>" />
			<input type="hidden" name="event_id" value="<%= @event_id %>" />
			<input type="submit" class="button" value="I'm in!" data-email="<%= @invitee_email %>" data-event="<%= @event_id %>">
		</form>
	</div>
	<div class="large-10 columns">
		<strong>Event Name:</strong> <%= @result['location'] %>
		<h4><%= @invitee_email %> are you in?</h4>
	</div>
</div>
<h2>Event ID: <%= @event_id %></h2>

<h2>Result code: <%= @code %></h2>

<h2>Email: <%= @invitee_email %></h2>

<pre>
	<%= @result %>
</pre>

<div class="grey-box">
	<strong>Creator:</strong> <%= @result['creator']['name'] %>
	<br/>
	<strong>Event Name:</strong> <%= @result['location'] %>
	<br/>
	<strong>Event Time:</strong> <%= @result['time'] %>
	<br/>
	<strong>Deadline:</strong> <%= @result['deadline'] %>
	<br/>
	<strong>Event Location:</strong> <%= @result['event_name'] %>
	<br/>
	<strong>Minimum Attendees:</strong> <%= @result['minimum'] %>
	<br/>
	<strong>Maximum Attendees:</strong> <%= @result['maximum'] %>
	<br/>
	<strong>Invitees:</strong> <% #@invitees.each{ |x| puts x } %>
	
</div>

